<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <label>
        <form action="/login" method="post">

            <label>Enter your Email</label>
            <input type="text" required email="email">

             <label>Enter your Password</label>
            <input type="text" required password="password">

            <button type="submit">Login</button>
        </form>
    </label>
</body>
</html>